@import "../vars.scss";

.btn {
	border: 1px solid $primary;
	font-size: 0.9rem;
	padding: 5px;
	font-weight: 500;
	margin: 5px;
	&.disabled {
		color: $grey-500 !important;
		border-color: $grey-500 !important;
		background-color: $grey-200 !important;
		cursor: default;
	}
	&.not-border {
		border: none;
	}
	& > * {
		padding: 5px;
	}
	&.icon {
		padding: 0;
	}
}
