@import "../vars";
.drawer {
	flex-wrap: nowrap;
	width: 70px;
	min-width: 70px;
	overflow-x: hidden;
	overflow-y: auto;
}

@media (max-width: 767.9px) {
	.drawer {
		width: auto;
		min-width: auto;
		overflow-x: auto;
		overflow-y: hidden;
		height: 70px;
		min-height: 70px;
		max-height: 70px;
	}
}
