@import "../vars.scss";

.input-group {
	justify-content: stretch;
	margin: 5px;
	& > * {
		padding: 5px;
	}
	& > label {
		font-size: 1rem;
		color: $dark;
		text-align: justify;
		font-weight: 500;
		pointer-events: none;
		user-select: none;
	}
	& span {
		color: $danger;
		text-align: justify;
		font-size: 0.9rem;
		font-weight: 600;
	}
	& input {
		border: 1px solid $grey-400;
		font-size: 1.1rem;
		border-radius: 5px;
		padding: 5px;
	}
	&.upper input {
		text-transform: uppercase;
	}
	&.error {
		& > label {
			color: $danger !important;
		}
		& input {
			color: $danger !important;
			border-color: $danger !important;
		}
	}
	&:hover,
	&:focus {
		& input {
			border-color: $primary;
			color: $primary;
		}
		& > label {
			color: $primary;
		}
	}
}
