@import "../vars.scss";

.nav-link {
	padding: 5px;
	font-size: 0.9rem;
	font-weight: 700;
	& > div {
		width: 40px;
		text-align: center;
	}
	& > span {
		font-size: 0.9rem;
		padding-top: 5px;
	}
	&:hover {
		background-color: $warning !important;
		color: $dark !important;
	}
}
