@import "./vars.scss";
* {
	font-family: $font_family;
}
html,
body {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 16px;
}
input,
textarea,
a,
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
button {
	border: none;
	cursor: pointer;
	background: none;
}
label {
	user-select: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
main {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}
.view {
	display: inherit !important;
}
.home-view {
	background-size: 348px 347px;
	background-position: center;
	background-repeat: no-repeat;
}
.hidden {
	display: none !important;
}
.overflow-x {
	overflow-x: auto;
	overflow-y: hidden;
}
.overflow-y {
	overflow-x: hidden;
	overflow-y: auto;
}
.overflow-hidden {
	overflow: hidden;
}
hr {
	width: 100%;
	height: 0;
	border-top: 1px solid $grey-300 !important;
	border-bottom: 1px solid $grey-300 !important;
	margin: 3px 0;
}
.container-lg {
	width: 100%;
	max-width: 700px;
	margin: 5px auto;
}
.container-absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba($dark, 0.7);
}
.box-shadow {
	box-shadow: 2px 2px 5px $grey-500;
}
.container-overflow-x {
	overflow-x: auto !important;
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: #{$value} !important;
	}
	.bg-#{$color} {
		background-color: #{$value} !important;
	}
	.bd-#{$color} {
		border: 1px solid #{$value} !important;
	}
}
@each $grey, $value in $greys {
	.text-#{$grey} {
		color: #{$value} !important;
	}
	.bg-#{$grey} {
		background-color: #{$value};
	}
	.bd-#{$grey} {
		border: 1px solid #{$value} !important;
	}
}
table {
	border-collapse: collapse;
	margin: 0 auto;
	min-width: 100%;
}
th {
	border: 1px solid $grey-400;
	padding: 5px;
	font-size: 1.1rem;
	text-align: center;
	font-weight: 900;
}
td {
	border: 1px solid $grey-400;
	padding: 2px 5px;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}
.text-justify {
	text-align: justify !important;
}
.text-center {
	text-align: center !important;
}

//flex
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
	align-items: stretch;
}
.grow {
	flex-grow: 1;
}
.wrap {
	flex-wrap: wrap;
}
.nwrap {
	flex-wrap: nowrap;
}
.flex-center {
	align-items: center;
	justify-content: center;
}
.padding-10 {
	padding: 10px !important;
}
.margin-10 {
	margin: 10px !important;
}
@each $direction, $value in $directions {
	.align-#{$direction} {
		align-items: #{$value};
	}
	.justify-#{$direction} {
		justify-content: #{$value};
	}
}
.img-responsive {
	width: 100%;
	height: auto;
}
@media (max-width: 767.99px) {
	html {
		font-size: 15px;
	}
	.container-lg {
		max-width: 100%;
	}
}
