@import "./vars.scss";
* {
	font-family: $font_family;
}
html,
body {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 16px;
}
#root {
	justify-content: stretch;
	flex-grow: 1;
	overflow: hidden;
	background-color: $white;
	& > section {
		overflow: hidden;
		background-color: $white;
	}
}
input,
textarea,
a,
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
button {
	border: none;
	cursor: pointer;
	background: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.view {
	display: inherit !important;
}
main {
	flex-grow: 1;
	padding: 10px;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}
hr{
	border: none;
	height: 0;
	border-top: 1px solid $grey-100;
	border-bottom: 1px solid $grey-100;
}

.app-logo {
	fill: $dark;
	margin: 5px;
}
.container-lg{
	max-width: 600px;
	margin: 5px auto;
	padding: 10px;
}
.none{
	display: none !important;
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: #{$value};
	}
	.bg-#{$color} {
		background-color: #{$value};
	}
	.bd-#{$color} {
		border-color: #{$value};
	}
}
@each $grey, $value in $greys {
	.text-#{$grey} {
		color: #{$value};
	}
	.bg-#{$grey} {
		background-color: #{$value};
	}
	.bd-#{$grey} {
		border-color: #{$value};
	}
}

//flex
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
	align-items: stretch;
}
.grow {
	flex-grow: 1;
}
.wrap{
	flex-wrap: wrap;
}
.nwrap{
	flex-wrap: nowrap;
}
.flex-center {
	align-items: center;
	justify-content: center;
}
@each $direction, $value in $directions {
	.align-#{$direction} {
		align-items: #{$value};
	}
	.justify-#{$direction} {
		justify-content: #{$value};
	}
}
.img-responsive {
	width: 100%;
	height: auto;
}
@media (max-width: 767.99px) {
	html {
		font-size: 14px;
	}
	main{
		padding: 0;
	}
	.container-lg{
		max-width: 100%;
	}
}